@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

body{
    background-color: black;
    background-image: url(../media/glitch.gif);

}

.intro {
    background-color: black;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
        
    }

h1{
    font-family: 'Bungee Hairline', cursive;
    color: rgb(147, 147, 147);
    font-size: 50px;
    text-align: center;
    

}

/* .bird {
    width: 600px;
    margin: auto;
    display: block;
    mix-blend-mode: hard-light;
} */

.parent {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .bird {
    position: relative;
    width: 60%;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
  
  .glitch2 {
    position: absolute;
    width: 90%;
    height: 98%;
    top: 0%;
    left: 0%;
    mix-blend-mode: color-burn;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
p1{
    color: white;
    font-family: 'Bungee Hairline', cursive;
    font-size: 15px;
    display: block;
}  

p2{
  color: white;
  font-family: 'Bungee Hairline', cursive;
  font-size: 25px;
  

}



a:hover {
  background-color: blueviolet;
  width: 4px;
  height: 100px;
  font-size: 46px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Libre Barcode 128', cursive;
  text-decoration: underline;

}

.button{ 
    font-family: 'Bungee Hairline', cursive;
    border: none;
    color: white;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}